<div class="col-4 mb-3">
    <div class="card">
      <img [src]="repository.owner.avatar_url" class="card-img-top" alt="{{ repository.name }}">
      <!-- <a href="{{repository.owner.avatar_url}}" target="_blank">open image</a> -->
      <div class="card-body">
        <h5 class="card-title">{{ repository.name }}</h5>
        <!-- <button mat-button color="accent" (click)="toggleBookmark(repository)">Bookmark</button> -->
        <mat-icon
          class="bookmark-icon"
          [ngClass]="{ 'bookmarked': isBookmarked }"
          (click)="toggleBookmark(repository)"
          aria-label="Bookmark"
        >
          star
        </mat-icon>
      </div>
    </div>
  </div>